%footer.mdl-mini-footer
  .mdl-mini-footer__left-section
    .mdl-logo #{global_site_title}
    %ul.mdl-mini-footer__link-list
      %li
        = link_to 'Help', '#'
      %li
        = link_to 'Privacy & Terms', '#'
